/* ***************** CSS  RESET *********************** */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ******************** GENERAL ************************ */


:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: "League Spartan";
}


body {
    min-height: 100vh;
    margin: 0 165px;
    display: flex;
    align-items: center;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;



}


.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "top-txt top-stars";
    min-height: 245px;
    margin-bottom: 71px;
    gap: 0 125px;

}

/* ************** HEADER ********************** */

.top-txt {
    grid-area: top-txt;
}

.top-stars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: top-stars;
    font-size: 1.13em;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;
    min-height: 266px;
}

.actor-colton {
    display: grid;
    align-self: start;

}

.actor-iren {
    display: grid;
    align-self: center;
}

.actor-anne {
    display: grid;
    align-self: flex-end;

}

h1 {

    font-size: 3.73em;
    line-height: 48px;
    letter-spacing: -2px;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
    margin-bottom: 16px;
}

p {

    font-size: 1.26em;
    line-height: 25px;
    letter-spacing: -0.63px;
    color: var(--Dark-Grayish-Magenta)
}


/* ************** STARS *********************** */


h2 {
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 8px;
    padding: 20px 75px 20px 0;
}

h2::before {
    content: url(images/icon-star.svg) url(images/icon-star.svg) url(images/icon-star.svg) url(images/icon-star.svg) url(images/icon-star.svg);
    margin-left: 20px;
    margin-right: 32.45px;

}


h2:nth-of-type(1) {
    align-self: flex-start;
}

h2:nth-of-type(2) {
    align-self: center;
}

h2:nth-of-type(3) {
    align-self: flex-end;
}

/* ************** ACTOR *************** */



.actor-colton,
.actor-iren,
.actor-anne {
    background-color: var(--Very-Dark-Magenta);
    padding: 40px 32px 35px 32px;
    border-radius: 8px;
    font-size: 1.13em;
    color: var(--White);


}

.present {
    display: flex;
    align-items: center;
}

img {
    border-radius: 50%;
    width: 40px;
}

h3 {
    font-weight: 700;
    margin-left: 23px;
}

span {
    color: var(--Soft-Pink);


}

blockquote {
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
    margin-top: 31px;

}

@media only screen and (max-width: 1100px) {
    body {
        margin: 0 24px;
    }

    main {
        display: flex;
        flex-direction: column;

    }

    .top {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;


    }

    .top-txt {
        padding: 0 10px 0 10px;
        margin-bottom: 39px;
    }

    .top-stars {

        justify-content: center;
        width: 100%;
    }

    h2 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 0;


    }

    h2::before {
        margin-bottom: 15px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-top: 82px;
        font-size: 2.6rem;
        line-height: 32px;
        letter-spacing: -1.43px;

    }

    .actor-colton,
    .actor-iren,
    .actor-anne {
        margin-bottom: 16px;
    }
}